/* body {
    background-image: linear-gradient(
    45deg,
    hsl(2deg 74% 23%) 0%,
    hsl(343deg 99% 22%) 1%,
    hsl(335deg 100% 23%) 5%,
    hsl(324deg 100% 24%) 14%,
    hsl(310deg 100% 23%) 40%,
    hsl(288deg 67% 28%) 74%,
    hsl(281deg 68% 26%) 87%,
    hsl(273deg 70% 23%) 94%,
    hsl(263deg 72% 20%) 98%,
    hsl(251deg 76% 17%) 99%,
    hsl(238deg 97% 13%) 100%
    );
} */
#app {
    width: 100%;
    height: 100%;
}
.zero {
    background-image: linear-gradient(
  45deg,
  hsl(0deg 0% 0%) 20%,
  hsl(344deg 0% 3%) 53%,
  hsl(344deg 0% 6%) 57%,
  hsl(344deg 0% 8%) 58%,
  hsl(344deg 0% 8%) 60%,
  hsl(344deg 0% 6%) 66%,
  hsl(344deg 0% 3%) 77%,
  hsl(0deg 0% 0%) 100%
);
color: white;
}